.widget {
    text-align: center;
    width: 376.25px;
    margin-top: 30px;
}

.weather-icon {
    margin-top: 30px;
    height: 100px;
}

.temp-text {
    font-size: 40px;
    letter-spacing: 4px;
}

.description-text {
    margin-bottom: 7px;
    font-weight: 500;
}

.widget .location-dot {
    font-size: 17px;
    padding-right: 10px;
}

.widget .location-text {
    font-size: 18px;
}